@font-face{
     font-family:'Bungee';
     src:url(Bungee-Hairline.otf);
 } 

 body {
    font-weight: 200;
    font-size: 14px;
}
.total{
    vertical-align: top;
    text-align:center;
    line-height:80px;
    font-size:75px;
    font-weight:100;
    border-top:1px solid #000;
    font-family:'Bungee', sans-serif;
}