<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
     <title>Document</title>
</head>
<body>
{% comment %} <div style="width:1000px, height:500px"> {% endcomment %}
     {{plot|safe}}
{% comment %} </div> {% endcomment %}
     
</body>
</html>