{% load static %}
{% load mathfilters %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title: 2020/04/28-Test(TN001) </title>
        <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .total-top
            {
                vertical-align: top;
                text-align: center;
            }
            .total
            {
                vertical-align: top;
                text-align: center;
                border-top: 1px solid #000;
            }
            td {
                padding-top:7px;
            }
        </style>
    </head>
    <body>
        <div style="text-align:center; font-size:25px; font-weight:bold">
            <span>Title: 2020/04/28 Test (TN001)</span>
        </div>
        <hr>
        {% comment %} *******************MADOGUCHI**************************** {% endcomment %}
        <table>
            {% comment %} Header {% endcomment %}
            <tr>
                <th colspan="3" style="text-align:left">Madoguchi</th>
                <th style="text-align:center">Average Score</th>
                <th></th>
                <th style="text-align:center">Average Score</th>
            </tr>
            {% comment %} {{ S_dict }} {% endcomment %}
            {% for team,data in M_dict.items %}
                {% if forloop.first %}
                    {% with Total=data.TotalScore Team=team %}
                    {% for value in data.Childs %}
                        {% if forloop.first %}
                            <tr>
                                <td rowspan="{{ data.Childs|length }}"></td>
                                <td rowspan="{{ data.Childs|length }}" style="vertical-align: top;text-align: center;">{{ Team }}</td>
                                <td>{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center">{{ value.Score }}</td>
                                    <td rowspan="{{ data.Childs|length }}" class="total-top" style="vertical-align: top;text-align: center"><img src="http://localhost:8000{% static 'images/char_total.png' %}" height="{{ 27|mul:data.Childs|length }}"/></td>
                                {% else %}
                                    <td style="border-top:1px solid #000"></td><td style="border-top:1px solid #000"></td>
                                {% endif %}
                                <td rowspan="{{ data.Childs|length }}" style="text-align:center">{{ Total }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center">{{ value.Score }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}

                {% else %}
                    
                    {% with Total=data.TotalScore Team=team %}
                    {% for value in data.Childs %}
                        {% if forloop.first %}
                            <tr>
                                <td rowspan="{{ data.Childs|length }}"></td>
                                <td rowspan="{{ data.Childs|length }}" style="vertical-align: top;text-align: center;border-top:1px solid #000">{{ Team }}</td>
                                <td style="border-top:1px solid #000">{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center;border-top:1px solid #000">{{ value.Score }}</td>
                                    <td rowspan="{{ data.Childs|length }}" class="total" style="vertical-align: top;text-align: center;border-top: 1px solid #000"><img src="http://localhost:8000{% static 'images/char_total.png' %}" height="{{ 27|mul:data.Childs|length }}"/></td>
                                {% else %}
                                    <td style="border-top:1px solid #000"></td><td style="border-top:1px solid #000"></td>
                                {% endif %}
                                <td rowspan="{{ data.Childs|length }}" style="text-align:center; border-top:1px solid #000">{{ Total }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center">{{ value.Score }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </table>
        <br>
        <hr>
        <br>  
        {% comment %} *******************SEISAKU**************************** {% endcomment %}
        <table>
            {% comment %} Header {% endcomment %}
            <tr>
                <th colspan="3" style="text-align:left">Seisaku</th>
                <th style="text-align:center">Average Score</th>
                <th></th>
                <th style="text-align:center">Average Score</th>
            </tr>
            {% comment %} {{ S_dict }} {% endcomment %}
            {% for team,data in S_dict.items %}
                {% if forloop.first %}
                    {% with Total=data.TotalScore Team=team %}
                    {% for value in data.Childs %}
                        {% if forloop.first %}
                            <tr>
                                <td rowspan="{{ data.Childs|length }}"></td>
                                <td rowspan="{{ data.Childs|length }}" style="vertical-align: top;text-align: center;">{{ Team }}</td>
                                <td>{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center">{{ value.Score }}</td>
                                    <td rowspan="{{ data.Childs|length }}" class="total-top" style="vertical-align: top;text-align: center"><img src="http://localhost:8000{% static 'images/char_total.png' %}" height="{{ 27|mul:data.Childs|length }}"/></td>
                                {% else %}
                                    <td style="border-top:1px solid #000"></td><td style="border-top:1px solid #000"></td>
                                {% endif %}
                                <td rowspan="{{ data.Childs|length }}" style="text-align:center">{{ Total }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center">{{ value.Score }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}

                {% else %}
                    
                    {% with Total=data.TotalScore Team=team %}
                    {% for value in data.Childs %}
                        {% if forloop.first %}
                            <tr>
                                <td rowspan="{{ data.Childs|length }}"></td>
                                <td rowspan="{{ data.Childs|length }}" style="vertical-align: top;text-align: center;border-top:1px solid #000">{{ Team }}</td>
                                <td style="border-top:1px solid #000">{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center;border-top:1px solid #000">{{ value.Score }}</td>
                                    <td rowspan="{{ data.Childs|length }}" class="total" style="vertical-align: top;text-align: center;border-top: 1px solid #000;"><img src="http://localhost:8000{% static 'images/char_total.png' %}" height="{{ 27|mul:data.Childs|length }}"/></td>
                                    
                                {% else %}
                                    <td style="border-top:1px solid #000"></td><td style="border-top:1px solid #000"></td>
                                {% endif %}
                                <td rowspan="{{ data.Childs|length }}" style="text-align:center; border-top:1px solid #000">{{ Total }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>{{ value.Subteam }}({{ value.Staff }})</td>
                                {% if value.Score %}
                                    <td style="text-align:center">{{ value.Score }}</td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </table>
        <hr>
        <br>
        <img src="http://{{host}}:8000{% static link_img %}" alt="">    
        <br>
        <div style="text-align:center; color:green; font-weight:900">
            <span>View detail: http://{{host}}:8000{% static link_html %}</span>    
        </div>
        
    </body>
</html>